---
import { Icon } from "astro-icon";

import { routes } from "../constants/routes";

import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import Menu from "@/components/Menu.astro";
---

<Layout title="Alexandre's nice portfolio">
  <header class="flex items-center justify-between h-[42px]">
    <div class="flex items-center gap-2">
      <Icon name="fe:code" class="w-5 h-5 text-yellow-300" />
      <h1 class="text-sm">Alexandre C.</h1>
    </div>

    <nav class="sm:inline hidden">
      <ol class="flex items-center gap-8">
        {
          routes.map(({ label, pathname }) => (
            <a href={pathname}>
              <span class="text-yellow-300">
                #<span class="text-white">{label}</span>
              </span>
            </a>
          ))
        }
        <!-- <li>language</li> -->
      </ol>
    </nav>

    <Menu />
  </header>

  <main class="sm:mt-36 mt-11">
    <h1 class="text-lg">
      Alexandre is a
      <strong class="text-yellow-300">web <br /> developer</strong>
    </h1>
    <p class="max-w-[462px] w-full mt-8 text-gray-200 leading-6">
      He crafts responsive websites where technologies meet creativity
    </p>
    <Button class="mt-6" type="button">Contact me!!</Button>
  </main>
</Layout>
