---
import { Icon } from "astro-icon";

import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import NavBar from "@/components/NavBar.astro";
---

<Layout title="Alexandre's nice portfolio">
  <header class="flex items-center justify-between h-[42px]">
    <div class="flex items-center gap-2">
      <Icon name="fe:code" class="w-5 h-5 text-yellow-300" />
      <h1 class="text-sm">Alexandre C.</h1>
    </div>

    <NavBar />
  </header>

  <main class="sm:mt-32 mt-11 flex flex-col gap-[148px]">
    <section>
      <div class="mx-auto text-center max-w-[640px]">
        <h1 class="text-lg">
          Hello! I Am <strong class="text-yellow-300">Alexandre</strong>, <br
          />A <strong class="text-yellow-300">Web Developer</strong>
        </h1>
        <p class="mx-auto max-w-[462px] w-full mt-8 text-gray-200 leading-6">
          I build responsive websites where technologies meet creativity.
        </p>
        <Button
          class="mt-6 hover:bg-yellow-300 hover:bg-opacity-[0.2] hover:text-yellow-300"
          type="button">Contact me!!</Button
        >
      </div>
    </section>
    <section>
      <div class="flex justify-between text-sm mb-16">
        <div
          class="flex items-center after:content-[''] after:block after:bg-yellow-300 after:ml-4 after:w-[512px] after:h-[2px]"
        >
          <h1 class="text-lg">
            <span class="text-yellow-300">#</span>projects
          </h1>
        </div>
        <button>View all {"~~>"}</button>
      </div>
      <div>
        <div class="flex">
          <span class="max-w-[82px] w-full">Jan 22</span>
          <div
            class="flex before:content-[''] before:block before:ml-[52px] before:mr-[42px] before:bg-yellow-300 before:h-full before:w-[1px]"
          >
            <div class="max-w-[508px] w-full">
              <h2 class="text-white text-sm font-bold">Example Project</h2>
              <p class="text-gray-200 leading-6 mt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                aut eos, quos vel ullam assumenda temporibus accusamus nobis
                blanditiis autem, recusandae placeat dicta culpa deserunt
                eligendi sequi magnam est fugit.
              </p>
              <div class="flex gap-4 mt-7">
                <Button
                  class="hover:bg-yellow-300 hover:bg-opacity-[0.2] hover:text-yellow-300"
                  >Live {"<~>"}</Button
                >
                <Button
                  class="flex items-center border-gray-200 hover:bg-gray-200 hover:bg-opacity-[0.2] hover:text-gray-200"
                  >View Source Code <Icon
                    name="ph:git-branch"
                    class="w-5 h-5 text-white ml-2"
                  />
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
