---
import * as Icon from "@astropub/icons";

import Layout from "@/layouts/Layout.astro";

import Button from "@/components/Button.astro";

const LINKS = [
  {
    label: "home",
    to: "#",
  },
  {
    label: "works",
    to: "#",
  },
  {
    label: "about-me",
    to: "#",
  },
  {
    label: "contacts",
    to: "#",
  },
];
---

<Layout title="Alexandre's nice portfolio">
  <header class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <Icon.Code class="w-5 h-5 stroke-yellow-300" />
      <h1 class="text-sm">Alexandre C.</h1>
    </div>

    <nav>
      <ol class="flex items-center gap-8">
        {
          LINKS.map(({ label, to }) => (
            <li>
              <a href={to}>
                <span class="text-yellow-300">#</span>
                {label}
              </a>
            </li>
          ))
        }
        <!-- <li>language</li> -->
      </ol>
    </nav>
  </header>

  <main>
    <h1 class="text-lg mt-36">
      Alexandre is a
      <strong class="text-yellow-300">web <br /> developer</strong>
    </h1>
    <p class="max-w-[462px] w-full mt-8 text-gray-200 leading-6">
      He crafts responsive websites where technologies meet creativity
    </p>
    <Button class="mt-6" type="button">Contact me!!</Button>
  </main>
</Layout>
